body {
  background: rgb(170, 2, 2);
  color: rgb(255, 255, 255);
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  background: rgb(255, 255, 255);
  background-image: url("2.avif");
  border-color: rgb(194, 7, 69);
  border-style: double;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h2, h4 {
  margin: 10px 0;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #555;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  width: 0;
  background: #ffcc00;
  border-radius: 4px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#volume {
  width: 100%;
  margin: 15px 0;
}

.playlist {
  margin-top: 20px;
  text-align: left;
}

.playlist ul {
  list-style: none;
  padding-left: 0;
}

.playlist li {
  padding: 8px;
  cursor: pointer;
}

.playlist li:hover {
  background: #444;
}
